@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="text-align: center; padding-top: 40px;">
    <h1>@ViewData["Title"]</h1>
</div>

<div style="text-align: center; padding-top: 40px;">
    <p>This example policy outlines how our clients’ websites collect data as standard. The wording provided is set to be a very generic statement and will need to be tailored to fit your particular use of your website. Cleverbox take no legal responsibility for the content of this document being fully compliant. Should you wish to use any part of it, you should confirm with your own Data Protection Officer that it accurately explains your personal data processing activities and includes all the necessary information you are legally required to disclose.</p>
</div>
